/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode
.env
.env.*
/*.log
*.log
*.sqlite
*.sql
*.gz
composer.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/homestead.yaml
/homestead.json
/.env.backup
/phpunit.result.cache
/phpunit.xml
