/*-------------------------
    Variable
-------------------------*/

$hover: #FEEED0;
$primary-clr: #F97316;
$dark-clr: #161C2D;
$text-dark-clr: #252B42;
$text-clr: #17183B;
$text-light-clr: #737373;
$text-base-clr: #183153;
$black-clr: #171413;
$dark-light-clr: #4F5D81;
$white-clr: #fff;
$green-clr: #059669;
$red-clr: #FF3333;
$yellow-clr: #FFD600;
$dis-clr: #E51755;
$price-dis-clr: #AAAAAA;
$brown-clr: #61402D;
$chilean-clr: #E7C8C6;
$review-clr: #616161;
$pera: #4C4C4C;
$footer-pera-clr: #4d4d4e;
$secnd-pera-clr: #4F5D81;
$text-blur: #9D9FA2;
$background-light: #FDF8EF;
$background-light-pink: #FFFBF8;
$product-background: #F5F5F5;
$product-light-background: #8597BF;
$product--dis-background: #FFEFEF;
$border-clr: #F0F0F0;
$border-range-clr: #DBE4F4;
$border-line-clr: #D8D8D8;
$border-light-clr: #BACAE9;
$background-pink-light: rgba(255, 255, 255, 1);
$card-1: #EAEAFF;
$card-2: #EFFAFF;
$card-3: #FFECF2;
$card-4: #F2F0FF;
$card-5: #E3F2E6;
$card-6: #FFFFD4;
$card-7: #D4EDF8;
$top-category-back-1: #F3F8FF;
$top-category-back-2: #FFF6F3;
$top-category-back-3: #FAFFF3;
$top-category-back-4: #F5F3FF;
$top-category-back-5: #FFF3F3;
$card-background: #F1E8D7;
$trend-back-1: #FFF1ED;
$jost: "Jost", sans-serif;
$poppins: "Poppins", sans-serif;
$plus-font: "Plus Jakarta Sans", sans-serif;